{{!-- need to think about adding comments to posts. That goes here possibly? --}}
<div>
  <h2>{{title}}</h2>
  <p>Written by {{user.name}} on {{format_date date_created}}</p>
  <p>{{content}}</p>
  <p>
    <button class="btn"> Add Comment</button>
  </p>
</div>
