.no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #283a43;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #3f5763;
    text-decoration: underline;
  }

.author {
  font-size: 70%;
  text-decoration: overline;
}